.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block {
  background: #793862;
  font-size: 16px;
  padding: 0 15px;
  width: 50%;
  height: 10%;
  color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition-duration: 1s;
}
.block:hover {
  background-color: #368175;
  padding: 0 100px;
}
.block__ease {
  transition-timing-function: ease;
}
.block__ease:hover {
  transition-timing-function: ease;
  transition-delay: 1s, 0s;
  transition-property: background-color, padding;
}
.block__ease-in {
  transition-timing-function: ease-in;
}
.block__ease-in:hover {
  transition-timing-function: ease-in;
}
.block__ease-out {
  transition-timing-function: ease-out;
}
.block__ease-out:hover {
  transition-timing-function: ease-out;
}
.block__ease-in-out {
  transition-timing-function: ease-in-out;
}
.block__ease-in-out:hover {
  transition-timing-function: ease-in-out;
}
.block__linear {
  transition-timing-function: linear;
}
.block__linear:hover {
  transition-timing-function: linear;
}
.block__steps {
  transition-timing-function: steps(5, start);
}
.block__steps:hover {
  transition-timing-function: steps(5, start);
}
.block__cubic-bezier {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.block__cubic-bezier:hover {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}